<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Estimate Effective Young Modulus</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
    <h4>Estimate Effective Young Modulus</h4>
     <h5> Enter the following values to predict the Effective Young Modulus</h5>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="Poissons_ratio" placeholder="Poissons_ratio" required="required" />
        <input type="text" name="Strand_Dia" placeholder="Strand_Dia" required="required" />
        <input type="text" name="Pore_dia" placeholder="Pore_dia" required="required" />
        <input type="text" name="orientation_angle" placeholder="orientation_angle" required="required" />
        <input type="text" name="Youngs_modulus" placeholder="Youngs_modulus" required="required" />
        <input type="text" name="Porosity" placeholder="Porosity" required="required" />
        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>